/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global */
.dGrid {
    display: -ms-grid;
    display: grid;
}

.dFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flexDcolumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.jContentSbetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jContentCenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
}

.aItemsCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.PositionRelative {
    position: relative;
}

.gap1R {
    gap: 1rem;
}

.gap2R {
    gap: 2rem;
}

.paddingX10 {
    padding: 0px 10px;
}

.paddingY10 {
    padding: 10px 0px;
}

.padding10 {
    padding: 10px;
}

.padding30-10 {
    padding: 30px 10px 10px 10px;
}

.paddingY50 {
    padding: 50px 0px
}

body {
    overflow: hidden;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.borderRadius10 {
    border-radius: 10px;
}

.mousePointer {
    cursor: pointer;
}

.cardFigure {
    top: -15px;
    left: 15px;
    width: 65px;
}

.bgColorWhite {
    background-color: white;
}

.bgColorGreen {
    background-color: green;
}

.colorLightGrey {
    color: lightgrey;
}

/* Aside */

aside {
    background: rgba(0, 0, 0, 0.788) url(./assets/images/sidebar-1.jpg);
    background-blend-mode: darken;
    height: 100vh;
    padding: 10px 20px;
    overflow-y: scroll;
}

.asideListImg {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.asideList {
    -ms-grid-columns: auto 10px 1fr 10px auto;
    grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
    color: white;
}

.active {
    background-color: red;
    border-radius: 10px;
}

.asideList:hover:not(.active, .asideListTitle) {
    background-color: gray;
    border-radius: 10px;
}

/* Right Side */

.rSide {
    background-color: lightgray;
    padding: 20px 40px;
    overflow-y: scroll;

}

/* Header */

.headerDashboardImg {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
}

.headerDashboardImg:hover {
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.50);
}

.hideMenu {
    display: none;
}

/* Rside of header */

.searchBar {
    background-color: lightgray;
    border-style: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.searchBar:focus {
    border-bottom: 1px solid orangered;
    -webkit-transition: border-bottom 0.3s ease-in;
    -o-transition: border-bottom 0.3s ease-in;
    transition: border-bottom 0.3s ease-in;
}

.notifications {
    position: relative;

}

.notificationsAlert {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    color: white;
    height: 17px;
    width: 17px;
    left: 13px;
    top: -5px;

}

.notificationMessage {
    position: absolute;
    border: transparent;
    background-color: white;
    width: 230px;
    height: 150px;
    right: 10px;
    top: 5px;
    visibility: hidden;
}

.notifications:hover .notificationMessage {
    visibility: visible;

}

.notificationMessage p:hover {
    background-color: orangered;
    color: white
}

/* Main */

.firstCard {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
}

.flagList {
    grid-template-columns: repeat(4, 1fr);
}

.flagList img {
    width: 50px;
}

.titleGlobal {
    top: -60px;
    left: 90px;
    width: 400PX;
}

.iFrame {
    width: 100%;
    height: 300px;
}

/* 4 Boxes */

.cards4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.bgColorOrange {
    background-color: orange;
}

.bgColorPalevioletred {
    background-color: palevioletred;
}

.bgColorBlue {
    background-color: rgb(0, 217, 255);
}

/* 3 Boxes */

.cards3 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.card3Img {
    width: 100%;
    top: -20px;
    -webkit-transition: top 0.7s ease-in-out;
    -o-transition: top 0.7s ease-in-out;
    transition: top 0.7s ease-in-out;
}

.hiden {
    visibility: hidden;
    top: -40px;
}

.asets:hover figure .card3Img {
    top: -40px;

}

.asets:hover .hiden {
    visibility: visible;
}

/* Tablet */
@media(max-width:1000px) {

    .mainMenu {
        display: none;
    }

    .hideMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    aside {
        display: none;
    }

    .firstCard {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .cards3 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
}

/* Phone */
@media(max-width:600px) {
    .cards4 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .wrap {
        flex-wrap: wrap;
    }
}