* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

label {
    visibility: hidden;
    transition: transform .5s ease-out;
    transform: translateY(5px);
}

input:focus+label {
    visibility: visible;
    transform: translateY(0px);
}

.card {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: blue;
    color: white;
    padding: 5px;
}

img {
    height: 30px;
    width: 30px;
    /* animation properties*/
    animation-name: rrethi;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes my-animation {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes rrethi {

    to {
        transform: rotate(360deg);
    }
}