* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.CardBody {
    position: relative;
    width: 300px;
    border: solid 3px black;
    -webkit-box-shadow: 0px 2px 22px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 22px 9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 22px 9px rgba(0, 0, 0, 0.75);
}

.Card {
    display: flex;
    flex-direction: row;

}

.Card1 {
    display: flex;
    border: solid 3px black;
    flex-direction: column;
    width: 150px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Card2 {
    position: absolute;
    padding: 20px;
}