* {
    margin: 0;
    padding: 0;
}




.CardBody {
    border: solid 3px black;
    width: 300px;
    -webkit-box-shadow: 5px -6px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px -6px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px -6px 18px 0px rgba(0, 0, 0, 0.75);

}

.Card {

    display: flex;



}

.Card1 {
    width: 150px;
    border: solid 3px black;
    text-align: center;
}