h1 {
    background: rgb(9, 15, 121);
    background: linear-gradient(90deg, rgba(9, 15, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: whitesmoke;
}


nav {
    background: rgb(25, 25, 25);
    background: linear-gradient(90deg, rgba(25, 25, 25, 1) 0%, rgba(233, 239, 240, 0) 100%);
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

body {
    background-image: url(./image/Space.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}