* {
    margin: 0px;
    padding: 0px;
}

.padding20 {

    padding: 20px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {

    background-color: burlywood;
}

aside {
    background-color: palevioletred;
}

main {
    background-color: chartreuse;
}

footer {
    background-color: blueviolet;
}