* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {

    background-color: burlywood;
    width: 500px;

}

h1 p {
    width: 200px;
    background-color: white;
}