* {
    margin: 0px;
    padding: 0px;
}

img {
    filter: blur(10px);
    transform: rotate(720deg);
    transition: filter 0.1s, transform 2s 0.1s ease-in-out;

}

img:hover {
    filter: none;
    transform: rotate(720deg);

}